:root{
  --primary-color: rgba(123, 66, 189, 1);
  --secondary-color: rgba(123, 66, 189, 0.8);
  --tertiary-color: rgba(123, 66, 189, 0.3);
  --dark-primary: rgb(60, 30, 93);
  --orange-color: #F9994D;
  --odd-color: rgba(189, 66, 81, 0.5);
  --back-color: white;
  --font-color: black;
  --grey-color: #6c757d;
  --grey-dark-color: #343a40;
  --baby-pink: #FA63A7;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.top{
  padding: 0.5rem;
  display: flex;
}
.logo{
  height: 70px;
  width: 90px;
}
.heading{
  width: fit-content;
  margin-left: 20px;
}
.background{
  height: 100vh;
  width: 100%;
  background: whitesmoke;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  
  text-align: center;
}
.header{
  width: 90%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}
.left-header{
  width: 25%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 0;
  position: relative;
  color: white;
  border-right: 2px solid var(--tertiary-color);
}
#newTeam{
  position: absolute;
  right: 1rem;
  font-size: 22px;
  font-weight: bold;
  /* padding: 0.2rem; */
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--secondary-color);
  background-color: white;
  cursor: pointer;
}
.right-header{
  width: 75%;
  background-color: var(--secondary-color);
  display: flex;
  padding: 1.5rem 0;
  align-items: center;
  position: relative;
  color: white;
}
.roomname{
  margin-left: 2rem;
}
.add-person{
  position: absolute;
  right: 2rem;
}
.empty-box{
  height: 100%;
  width: 100%;
  background: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-box{
  width: 90%;
  height: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.user-lists{
  width: 25%;
  background-color: white;
  height: 100%;
  overflow-y: scroll;
}
.user-modal{
  height: 3rem;
}
.user-button{
  height: 100%;
  width: 100%;
  font-size: 14px;
  background-color: white;
  border: 0px;
  border-bottom: 1px grey;
}
.user-button.active{
  background-color: var(--secondary-color);
}
.user-button:hover{
  background-color: var(--tertiary-color);
  cursor: pointer;
}
.conversation-box{
  width: 75%;
  background-color: var(--secondary-color);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.conv-wrapper{
  height: 100%;
  overflow-y: scroll;
  white-space: nowrap;
  background:white;
}
.conversations{
  width: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: end;
  align-items: baseline;
}
.conv-div{
  display: flex;
  width: 100%;
}
.message-input{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.9em 0;
}
#send-button{
  background: white;
  border: var(--dark-primary);
  cursor: pointer;
  color: var(--primary-color);
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  font-size: 1.3rem;
}
.message-box{
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem 1rem;
  border-radius: 5px;
  min-width: 10rem;
  max-width: 80%;
  height: fit-content;
  min-height: 4rem;
  flex-basis:0;
}
.sender-name{
  font-size: 12px;
  width: 100%;
  margin: 0.2rem;
  font-weight: 800;
  color: black;
  padding: 0 0.6rem;
}
.message{
  font-size:14px;
  width: fit-content;
  margin: 0.2rem;
  padding: 0.5em 0.6rem;
  min-height: fit-content;
  display: flex;
  align-items: center;
  word-break: break-word;
}
.sender-name.user{
  display: flex;
  justify-content: right;
}
.message.user{
  text-align: right;
  align-self: flex-end;
  justify-content: right;
}
.sender-name.other-user{
  text-align: left;
  justify-content: left;
}
.message.other-user{
  justify-content: left;
  text-align: left;
}
.message-box.user{
  border: 2px solid var(--primary-color);
  align-self: end;
  align-items: end;
}
.message-box.other-user{
  border: 2px solid var(--baby-pink);
  align-self: flex-start;
}

.form-control{
  display: block;
  width: 80%;
  height: 1.5rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  -webkit-rtl-ordering: logical;
  cursor: text;
}
.form-control:focus{
  outline: none;
  box-shadow: 0 0 10px var(--dark-primary);;
}
.team-modal{
  height: 100vh;
  width: 100vw;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  background: rgba(0, 0, 0, 0.568);
  display: flex;
  padding: 1rem;
}

.cross-button{
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #303131;
  cursor: pointer;
}
.new-room{
  height: 20rem;
  width: 40rem;
  background: white;
  border-radius: 10px;
  box-shadow: #303131 2px 2px 2px 2px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.new-room input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
}
.new-room button{
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}